html, body {
    height: 100%;
    width: 100%;
}

html {
    box-sizing: border-box;
    font-family: sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

nav  {
    background-color: #84CDFC;
    color: white;    
    display: flex;
    flex-basis: 80%;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0px 30px;
}

nav ul li.link {
    padding: 0px 15px;
    cursor: pointer;
    color: white;
}

nav ul li.link a {
    color: white;
    text-decoration: none;
}